# Python virtual environments
venv/
.venv/
env/
.env/
venv-3.12/
.venv-3.12/

# Python cache
__pycache__/
*.py[cod]

# VSCode settings
.vscode/

# Raw bases
Data/
COBEQ 25/
TCC 24/
TimeObjectModule.py
Data/CAMS/processed/

Masters 26/Results/

